body {
    background-color: black;
    margin: 0;
    text-align: center;
}

#top { /* flex container */
    background-color: #E9ECEF;
    border: 2px solid #EEEEEE;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hatImage {
    height: 12.5rem;
}

#hat-container { /* flex item & container for hat card/form*/
    margin-top: 2rem;
    background-color: white;
    border: 2px solid #EEEEEE;
    width: 90%;
    min-height: 8rem;
    height: fit-content;
    display: flex;
    justify-content: center;
}

#nameForm {
    display: none;
}

#bottom { /* flex container */
    display: flex;
    background-color: white;
    border: 2px solid #EEEEEE;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.studentContainer { /* flex item & container for img-fluid */
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    min-width: 45%;
    min-height: 25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-content: center;
}

.card { /* flex item */
    width: 45%;
    height: inherit;
    margin: 0;
}

.card-body {
    width: fit-content;
}

.col-md-4 {
    background-color: #7F0A0A;
}

.expelBtn {
    border: none;
    border-radius: 5px;
    background-color: #DD3444;
    color: white;
}

/* vvv Expelled students styling vvv */
#expelled .card .row .col-md-8 .card-body .expelBtn {
    display: none;
}

#expelled .card .row .col-md-8 .card-body .card-text {
    display: none;
}

#expelled .card .row .col-md-4 {
    display: none;
}
