body {
    background-color: black;
    margin: 0;
    text-align: center;
}

#top { /* flex container */
    background-color: #E9ECEF;
    border: 2px solid #EEEEEE;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hatImage {
    height: 12.5rem;
}

#hat-container { /* flex item & container for hat card/form*/
    margin-top: 2rem;
    background-color: white;
    border: 2px solid #EEEEEE;
    width: 90%;
    min-height: 8rem;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#nameBtn {
    padding: 6px 12px;
}

#nameForm {
    display: none;
}

#nameInput {
    margin-top: 2rem;
}

#btnWrapper {
    display: flex;
    order: 1;
    width: 100%;
}


#allBtn {
    background-color: #6C757D;
}

#gryfBtn {
    background-color: #DD3444;
}

#huffBtn {
    background-color: #FFC106;
    color: #121212;
}

#huffBtn:hover {
    color: white;
}

#rvnBtn {
    background-color: #007BFE;
}

#slyBtn {
    background-color: #28A745;
}

.btn {
    flex-grow: 1;
    flex-shrink: 1;
    border: none;
    color: white;
    border-radius: 0;
    padding: 6px 0;
    font-size: clamp(.5rem, 1rem, 1rem);
}

#bottom { /* flex container */
    display: flex;
    background-color: white;
    border: 2px solid #EEEEEE;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.studentContainer { /* flex item & container for img-fluid */
    border: 2px solid #EEEEEE;
    border-radius: 5px;
    min-width: 45%;
    min-height: 25rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    align-content: center;
}

.card { /* flex item */
    width: 45%;
    height: inherit;
    margin: 0;
}

.card-body {
    width: fit-content;
}

.col-md-4 {
    background-color: #7F0A0A;
}

.expelBtn {
    border: none;
    border-radius: 5px;
    background-color: #DD3444;
    color: white;
}

#submitBtn {
    margin-bottom: 1rem;
    padding: 6px 12px;
}

/* vvv Expelled students styling vvv */
#expelled .card .row .col-md-8 .card-body .expelBtn {
    display: none;
}

#expelled .card .row .col-md-8 .card-body .card-text {
    display: none;
}

#expelled .card .row .col-md-4 {
    display: none;
}
