body {
    background-color: black;
    margin: 0;
    text-align: center;
}

#top { /* flex container */
    background-color: #E9ECEF;
    border: 2px solid red;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hatImage {
    height: 12.5rem;
}

#hat-container { /* flex item & container for hat card/form*/
    background-color: white;
    border: 2px solid orange;
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

#bottom { /* flex container */
    display: flex;
    background-color: white;
    border: 2px solid yellow;
    height: 50vh;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.studentContainer { /* flex item & container for img-fluid */
    border: 2px solid purple;
    width: 45%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    align-content: center;
}

.card { /* flex item */
    width: 40%;
    height: fit-content;
    margin: 0;
}

/* .row {
    background-color: red;
} */

.col-md-4 {
    background-color: red;
    height: inherit;
    margin: 0;
    align-self: stretch;
}